body {
    width: 90%;
    margin: auto;
}

h1 {
    text-align: center;
    font-family: comic sans ms;
    font-size: 80px;
}

.box-container {
    text-align: center;
}

.box {
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 5px;
    display: inline-block;
    background-color: rgb(97, 74, 0);
    line-height: 200px;
}

.gross {
    width: 205px;
}